<!-- template -->
<div [innerHTML]="htmlData"></div>

<div class='card-deck'>
        <div class="card" style="width: 20rem; max-width: 20rem; margin:30px;">
          <img class="card-img-top" src="assets/img/lifeshare.jpg" alt="Card image cap" style="max-height: 200px; max-width: 200px">
          <div class="card-body">
            <h5 class="card-title">Software Engineering Intern</h5>
            <p class="card-text">LifeShare Technologies LLC</p>
            <ul>
                <li>Developed full stack features for 3 separate platforms all supported by 1 backend API</li>
                <li>Completed a major redesign overhaul of the Family Manager mobile app built using an Ionic Framework</li>
                <li>Led project redesigning mobile app and applying native Android and iOS interface standards</li>
            </ul>
          </div>
          <div class="card-footer text-muted">
            6/2018 - 8/2018
          </div>
        </div>

        <div class="card" style="width: 20rem; max-width: 20rem; margin:30px;">
                <img class="card-img-top" src="assets/img/groupon.png" alt="Card image cap" style="max-height: 200px; max-width: 200px">
                <div class="card-body">
                  <h5 class="card-title">Software Development Engineering Intern</h5>
                  <p class="card-text">Groupon Inc</p>
                  <ul>
                      <li>blah1</li>
                      <li>blah2</li>
                      <li>blah3</li>
                  </ul>
                </div>
                <div class="card-footer text-muted">
                  6/2019 - 8/2019
                </div>
              </div>
      </div>