<div class="view-container">
    <div class="nav_bar">
      <ul>
        <li><a routerLink="/education" routerLinkActive="active">Education</a></li>
        <li>Experience</li>
        <li>Projects</li>
        <li><a routerLink="/passions">Passions</a></li>
        <li>Contact</li>
      </ul>
    </div>

    <router-outlet></router-outlet>

    <footer class=fixed-bottom>
      <div class="connect">
        <p>Connect with me on:</p>        
        <div class="social_media">
            <a href="#" class="fa fa-3x fa-facebook"></a>
            <a href="#" class="fa fa-3x fa-linkedin"></a>
            <a href="#" class="fa fa-5x fa-github"></a>
            <!-- <a class="btn-floating btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>            
            <a class="btn btn-social-icon btn-facebook"></a>
            <a class="btn btn-social-icon btn-linkedin"></a>
            <a class="btn btn-social-icon btn-github"></a> -->
        </div>
      </div>
    </footer>
    <!-- <div class="footer_main">
    </div> -->
</div>

