@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.view-container { 
    height: 100vh;
    overflow: hidden; 
    background-image: url("../img/wenshu_monastery.jpg");
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.main_background {
    background:white;
    opacity: .7;
    border-radius: 2px;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .header_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    margin: auto;
    text-align: center;
    font-size: 40pt;
    font-family: 'Poppins', sans-serif;
  }

  
  .nav_bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table-cell;
    text-align: center;
  }
  
  .nav_bar ul {
    padding-inline-start: 0px 
  }

  .nav_bar li {
    padding: 25px; 
    font-size: 16pt;
    display: inline;
    /* color: #000000; */
    color: #ffffff !important;
  }
  
  .nav_bar a {
    text-decoration: none;
    color: #ffffff;
  }

  footer {
    position: fixed;
    height: 75px;
    bottom: 0;
    width: 100%;
}

  /* .footer_main {
      position: absolute;
      visibility: hidden;
      bottom: 50; 
  }  */

  /* .footer_main p {
    font-size: 16pt;
    color: #097054;
  }

  .footer_main:hover {
    visibility: visible;
  } */
  
  /* @font-face {
    font-family: mainHeading;
    src: url(sansation_light.woff);
  } */

