@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.view-container { 
    height: 100vh;
    overflow: hidden; 
}

.home-container {
  height: 100vh;
  overflow: hidden; 
  background-image: 
  url("../img/wenshu_monastery.jpg");
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -1;  
}

.main_background {
    background:white;
    opacity: .7;
    border-radius: 2px;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .header_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    margin: auto;
    text-align: center;
    font-size: 40pt;
    font-family: 'Poppins', sans-serif;
    z-index: 200;
  }

  
  .nav_bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: table-cell;
    text-align: center;
  }
  
  .nav_bar ul {
    padding-inline-start: 0px 
  }

  .nav_bar li {
    padding: 25px; 
    font-size: 14pt;
    font-family: Poppins, sans-serif;
    display: inline;
    color: #ffffff;
  }
  
  .nav_bar a {
    text-decoration: none;
    color: #ffffff;
  }

  footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
  }

  footer .connect {
    width: 300px;
    float: right;
    text-decoration-color: #ffffff;
    right: 0;
  }

  footer .connect p {
    margin: 5px;
    font-family: 'Poppins', sans-serif;    
    color: #ffffff;
  }

  .circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    vertical-align: middle;
    padding: 9px;
    margin: 5px;
    text-decoration: none;    
  }

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Linked In */
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  /* Github */
  .fa-github {
    background: #221e1b;
    color: white;
  }

